html,body{
    margin:0;
    height: 100%;
    background-color: transparent;
}
#cuerpo{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
}

#bannerContainer{
    background:url('../images/banner3.jpg');
    position:relative;
    margin:0;
    top:0;
    display:block;
    height: 80%;
    width: 100%;
    background-size: 100% auto;
}

#textoContainer{
    padding-top:50px;
    width: 80%;
    margin:auto;
    text-align: justify;
    padding-bottom:50px;
}

#textoContainer>div{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

form p{
    margin:10px 0 5px 0;

}

.txt{
    padding:5px;
    border-radius: 5px;
    border:1px solid black;
    transition: all 0.3s ease-in;
    resize: none;
    overflow: hidden;
    width: 60%;
}

.txt:focus{
    outline: none;
    border:2px solid #3c763d;
}

#txtMensaje{
    width: 90%;
    height: 150px;
}

#txtSubmit{
    display: block;
    margin:auto;
    width: 80px;
    font-size: 15px;
    color:#3c763d;
    background-color: white;
    transition: all 0.3s linear;
}

#txtSubmit:hover{
    color:white;
    background-color: #3c763d;
    border-color:#3c763d;
}
#map{
    width: 100%;
    height: 300px;
}

#cmdTrazar{
    background-color: #3c763d;
    color:white;
    padding:10px;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    border:1px solid #3c763d;
    transition: all 0.3s linear;
}

#cmdTrazar:hover{
    color:#3c763d;
    background-color: white;
}

@media screen and (max-width:800px ) {
    #bannerContainer {
        height: 250px;
        background-repeat: no-repeat;
    }

    #textoContainer>div{
        width: 100%;
        margin:auto;
    }
}