* {
    font-family: "Roboto Slab", "Times New Roman", serif;
}
header{

    position:fixed;
    top:0;
    width: 100%;
    background-color:rgba(0,0,0,0.4);
    z-index: 999999;
}

#socialContainer{

    height: 40px;
    overflow: hidden;
    width: 100%;
}

#socialContainer *{
    float: right;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#socialContainer a img, #socialContainer p{
    display: block;
    height: 25px;
    position: relative;
    top:7.5px;
    color: white;
    font-size: 20px;
}

#headerContainer{
    width: 100%;
    padding:10px 0 0 0;
    position:relative;
}

#headerContainer>div{
    display: block;
    position:relative;
    top:0;
}

#logoContainer{
    text-align: center;

}

#logoContainer a img{
    width: 200px;
    opacity: 0.7;
    transition: all 0.5s linear;
}

#logoContainer a img.chico{
    width: 70px;
}

#headerContainer>div#navContainer{
    top:0px;
    text-align: center;
    transition: all 0.5s linear;
}

#headerContainer>div#navContainer.chico{
    top:-10px;
}

nav a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin:0 10px 0 10px;
    transition: all 0.2s linear;
}

nav a:hover{
    color:#ffff9d;
}