html,body{
    margin:0;
    height: 100%;
}
#cuerpo{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
}
#bannerContainer{
    position:relative;
    margin:0;
    top:0;
    display:block;
    height: 100%;
    width: 100%;
    background:url('../images/banner3.jpg');
    background-size: 100% auto;
}

#targetContainer{
    width: 90%;
    margin:auto;
    text-align: center;
    z-index: 2;
}

h2{
    text-align: left;

}

.target{
    width: 30%;
    text-align: justify;
    display: inline-block;
    position:relative;
    top:-30px;
    vertical-align: top;
    margin:0 3% -10px 3%;
    height:auto;
    box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 1);
}


.target>div{
    background-color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: "Roboto Slab", "Times New Roman", serif;
    padding-top:10px;
}

.target>div>img{
    height: 70px;
    display: block;
    margin:auto;
}

.target button{
    border:none;
    background-color: white;
    padding:10px;
    margin: 10px auto 10px;
    display: block;
    cursor:pointer;
    font-size: 18px;
    transition: all 0.2s linear;
}

.target button#cmdMoreRentals:hover{
    color:#84c89a;
}

.target button#cmdMoreTours:hover{
    color:#ffff9d;
}

#targetVerde{
    background-color:#84c89a;
}

#targetAm{
    background-color: #ffff9d;
}

#txtFun{
    width: 100%;
    height:500px;
    background: url('../images/banner1.jpg');
    background-size: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top:20px;
}

#txtFun{
    font-size: 50px;
    font-style: italic;
}

#tabs{
    width: 70%;
    height: 300px;
    margin:auto;
    top:300px;
}

#tab1 form>div{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    overflow: hidden;
}

.item, .owl-item{
    display: inline-block;
}

.item img{
    margin:auto;
    width:70%;
}
#fotosContainer>div{
    display: none;
}

#negro{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 100000000;
    top:0;
    display: none;
}

#negro>div{
    width: 60%;
    background-color: white;
    margin:0 20%;
    position:absolute;
    top:20%;
    padding:20px;
    border-radius: 10px;
}

#negro>div>p{
    width: 70%;
    margin:auto;
}

#imgContainer{
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top:20px;

}

#imgContainer>img{
    display: inline-block;
    width: 45%;
}

#content a {
    text-decoration: none;
    display: block;
    margin: auto;
    border: none;
    padding: 10px;
    text-align:center;
    width: 100px;
    margin-top:20px;
    transition:all 0.2s linear;
    color:#3c763d;
    background-color: white;
}

#content a:hover{
    background-color:#3c763d;
    color:white;
}

@media screen and (max-width:800px ){
    #bannerContainer{
        height: 250px;
        background-repeat: no-repeat;
    }

    .target{
        width: 90%;
        top:0;
        display: block;
        margin:auto;
        margin-bottom:40px;
        padding-bottom:1px;
    }

    #txtFun{
        height: 250px;
        background-repeat: no-repeat;
    }

    #negro>div{
        width: 90%;
        margin:0 5% 0 5%;
        padding:0;
    }
}