html,body{
    margin:0;
    height: 100%;
    background-color: transparent;
}
#cuerpo{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
}

#bannerContainer{
    background:url('../images/bannerRentals.jpg');
    position:relative;
    margin:0;
    top:0;
    display:block;
    height: 80%;
    width: 100%;
    background-size: 100% auto;
}

#textoContainer{
    padding-top:50px;
    width: 80%;
    margin:auto;
    text-align: justify;
    padding-bottom:50px;
}

#imgContainer{
    width: 100%;
    height:500px;
    background: url('../images/banner1.jpg');
    background-size: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top:20px;
}

.imagenContainer{
    width: 100%;
}

.imagenContainer img{
    width: 30%;
    display: inline-block;
}


@media screen and (max-width: 800px){
    #bannerContainer, #imgContainer{
        height: 250px;
    }
}