html,body{
    margin:0;
    height: 100%;
    background-color: transparent;
}
#cuerpo{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    color:black;
}

#bannerContainer{
    position:relative;
    margin:0;
    top:0;
    display:block;
    height: 80%;
    width: 100%;
    background-size: 100% auto;
    transition:all 0.2s ease-in-out;
}

.banner1{
    background: url('../images/tours1.jpg');
}

.banner2{
    background: url('../images/tours2.jpg');
}

.banner3{
    background: url('../images/tours3.jpg');
}

.banner4{
    background: url('../images/tours4.jpg');
}

.banner5{
    background: url('../images/tours5.jpg');
}

#textoContainer{
    padding-top:50px;
    width: 80%;
    margin:auto;
    text-align: justify;
    padding-bottom:50px;
}

.container{
    text-align: center;
    /*margin-bottom:240px;*/
    margin-bottom:20px;
}

.container>div{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: justify;
}

.imagenContainer{
    width:30%;
    text-align: center;
}

.imagenContainer>img{
    max-width: 100%;
    display: block;
    margin:auto;
    max-height: 300px;
}

.infoContainer{
    width: 60%;
    margin:2.5%;
}

.separador{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;
    left:0;
    margin:-220px 0;
    height: 200px;
    justify-content: center;
}

.separador img{
    display: inline-block;
    width: 20%;
    transition:all 0.5s linear;
    vertical-align: middle;
    margin:-2px;
}

.separador img:hover{
    width: 25%;
}

#funContainer{
    position:absolute;
    left:0;
    width: 100%;
    height:200px;
    background: url('../images/banner1.jpg');
    background-position-y: 100px;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin:20px -2px 0 0;
}

#funContainer{
    font-size: 50px;
    font-style: italic;
}

#funContainer p{
    text-align: center;
    color:white;
}

#puntosContainer{
    margin-top:270px;
    text-align: center;
}

#puntosContainer>div{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: left;
    margin:0 1% 0 1%;
}

.photostack-img img{
    display: block;
    width: 100%;
}

#tituloContainer{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin:20px 0 20px 0;
}