html,body{
    margin:0;
    height: 100%;
    background-color: transparent;
}
#cuerpo{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
}

#bannerContainer{
    position:relative;
    margin:0;
    top:0;
    display:block;
    height: 80%;
    width: 100%;
    background-size: 100% auto;
    transition:all 0.2s ease-in-out;
}

.banner1{
    background: url('../images/tours1.jpg');
}

.banner2{
    background: url('../images/tours2.jpg');
}

.banner3{
    background: url('../images/tours3.jpg');
}

.banner4{
    background: url('../images/tours4.jpg');
}

.banner5{
    background: url('../images/tours5.jpg');
}

#textoContainer{
    padding-top:50px;
    width: 80%;
    margin:auto;
    text-align: justify;
    padding-bottom:50px;
}

#scooterTour{
    background: url('../images/scooterTour.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:30%;
    height: 200px;
    cursor:pointer;

}

.tour span{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    color:white;
    height: 100%;
    text-align: center;
    font-size: 20px;
}